/* Variables */
$text_color : #1b1b32;
$text_font : Helvetica;
$h_text_font : Verdana, sans-serif;
$text_size : 18px;

/* Base */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: $text_font;
}

/* Media Queries */
$MQPhone1 : 320px;
$MQPhone2 : 375px;
$MQPhone3 : 425px;
$MQPhone4 : 540px;
$MQTablet1 : 768px;
$MQTablet2 : 820px;
$MQPC_1 : 1024px;
$MQPC_2 : 1280px;
$MQPC_3 : 1360px;
$MQPC_4 : 1440px;
$MQPC_5 : 1600px;
$MQPC_6 : 1920px; /* Default */
$MQPC_7 : 2048px;
$MQPC_8 : 2560px;

/* Content of the Website */
body {
    background: #5e5e7a;
    color: $text_color;
    font-family: $text_font;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* NavBar*/
    header {
        display: flex;
        justify-content: space-between;
        height: 32px;
        width: 100%;
        background-color: #1b1b32;
        .logo-section {
            width: 11%;
            height: 100%;
            display: flex;
            justify-content: space-around;
            margin: 0;
            padding-top: 2px;
            align-items: center;
            #logo {
                width: 100%;
                height: 20px;
            }
        }
        nav {
            display: flex;
            align-items: center;
            width: 15%;
            height: 100%;
            ul {
                font-weight: bold;
                width: 100%;
                list-style: none;
                display: flex;
                justify-content: space-evenly;
                li {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 64px;
                    list-style: none;
                    padding: 4px;
                    a {
                        width: 100%;
                        border-radius: 2px;
                        padding: 4px;
                        text-align: center;
                        text-decoration: none;
                        color: #ffffff;
                        &:hover {
                            color: #000000;
                            background: #ffd036;
                        }
                        &:active {
                            color: #000;
                            background: #c49d1e;
                        }
                    }
                }
            }
        }
    }
    /* NavBar */

    /* Main Content */
    main {
        background: #e9f4ff;
        margin-top: 40px;
        padding: 12px;
        width: 70%;
        border-radius: 12px;
        box-shadow: rgba(0, 0, 0, 0.3) 10px 8px 10px;
        display: flex;
        flex-direction: column;

        h1 h2 { font-family: $h_text_font; }
        h1 {
            background: #ffd036;
            color: #000000;
            text-align: center;
            padding: 8px;
            margin-bottom: 24px;
            border-radius: 12px;
        }
        h2 {
            border-bottom: 4px solid #dfdfe2;
        }
        .sr-only {
            position: absolute;
            width: 1px; 
            height: 1px;    
            padding: 0; 
            margin: -1px;   
            overflow: hidden;   
            clip: rect(0, 0, 0, 0); 
            white-space: nowrap;    
            border: 0;  
        }
        p::before {
            content: "Question #";
        }
    }
    /* END END END END Main Content END END END END */
}